.main {
    background-color: rgb(8, 8, 8);

    display: grid;

    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    ". items ."
    ". items ."
    ". items ."
    ;
}

.items-main {
    grid-area: items;
    margin: 10px;
    padding: 20px;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.item {
    width: 950px;
}