* {
    color: rgba(255, 255, 255, 0.87);
    font-family: monospace;
}


.page-titles {
    background-color: rgb(8, 8, 8);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}